.sign-in {
  margin-bottom: 5rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
.title {
  margin-bottom: 3rem;
}
.button {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}
