.custom-button {
  width: auto;
  font-size: auto;
  height: auto;
  text-size-adjust: inherit;
  padding: 1rem;
  background-color: white;
  color: black;
  text-transform: uppercase;
  // font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 800px) {
    margin: 1rem;
    font-size: 2vw;
  }

  &:hover {
    transition: 300ms;
    background-color: black;
    color: white;
  }
  &.google-sign-in {
    background-color: #4285f4;
    border: none;
    color: white;
    &:hover {
      background-color: blue;
      transition: 500ms;
    }
  }
}
