body,
html {
  height: 100%;
}

.bg {
  position: relative;
  float: right;
  transition: ease-in 2s;
  height: 100%;
  background-image: url("./contact.webp");
  width: 100%;
  scale: 1.7;
  overflow: visible;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  h1 {
    font-size: 18vmin;
    color: white;
  }
}
